body {
  background-color: #020305;
  color: #bcbebd;
}
header {
  color: #020305;
}
footer {
  background-color: #020305;
  color: #bcbebd;
  text-align: center;
}
@font-face {
  font-family: My-Brush;
  src: url(../../index-fonts/PaintBrushScript\ Regular.ttf) format("truetype"),
    url(../../index-fonts/PaintBrushScript\ Regular\ 1.otf) format("opentype");
}
.image-back {
  height: 100%;
  width: 100%;
  margin: 0%;
}
.image-back2 {
  transform: rotate(180deg);
  height: 100%;
  width: 100%;
  margin: 0%;
}
.image-container-1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
}
.image-container-2 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-1-text {
  position: absolute;
  top: 72%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 50%;
  font-size: 5.5em;
  font-family: My-Brush, cursive;
}

.image-2-text {
  position: absolute;
  top: 27.5%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 50%;
  font-size: 5.5em;
  font-family: My-Brush, cursive;
}
.image-2-text a {
  margin: 0;
  color: #fafafa;
  text-decoration: none;
}
