/*About*/
body {
    background-color: #020305;
    color: #bcbebd;
  }
main{
    background: black;
}

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
@font-face {
    font-family: My-Brush;
    src: url(fonts/PaintBrushScript\ Regular.ttf) format("truetype"),
      url(fonts/PaintBrushScript\ Regular\ 1.otf) format("opentype");
  }

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 700px;
    height: 600px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: #fafafa;
    margin-right: 15px;
    /* font-family: mv boli; */
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.about .about_main .about_text h1{
    color: #fafafa;
    font-size: 60px;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.about .about_main .about_text h3{
    color: #fafafa;
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    color: #fafafa;
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 32px;
    font-size: 20px;
}

/* .about .about_btn{
    background: white;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
} */

footer {
    background-color: #020305;
    position: fixed;
    color: #bcbebd;
    text-align: center;
  }